@charset "utf-8";

// gray
$defaultText: #515151;
$topHoverGray: #354851;
$userLightGray: #dedede;
$buttonBorderGray: #c6c6c6;
$bgLightGray: #fcfcfc;
$topDarkGray: #5a5a5a;
$buttonBgColor: #f8f8f8;
$lightGrayText: #aaaaaa;

// blue
$textareaBlue: #DCF2FD;
$headerNavy: #2B3A42;
$topHoverTextBlue: #2086d7;

// white
$white: #ffffff;

// red
$darkRed: #941919;

// yellow
$textAreaYellow: #fbedb7;

