@charset 'utf-8';

* {
  margin:0;
  padding:0;
  color: $defaultText;
  -webkit-font-smoothing: antialiased;
  font: 12px/22px Roboto, sans-serif;
}

ul, ol, li { list-style: none }

body {
  font-size:12px;
}